@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #14131a;
    --snake-color: green;
    --food-color: red;
}

body {
    background: var(--bg-primary);
    color: white;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    width: max-content;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.food {
    background-color: var(--food-color);
}

.snake {
    background-color: var(--snake-color);
}
